.footer {
    background-color: rgb(253, 175, 175);
    clear: both;
    position: relative;
    height: 48px;
}

.blackLink {
    color: black;
    font-weight: 4px;
    text-align: middle;
}

.custContainer {
    width: 100%;
    text-align: center;
    height: 100%;
    padding: 12px 0;
}